.app-press-menu
{
    font-size:12px;
    background:url(../componentroot/appslide/tabbg-bottom-light.png) repeat-x;
    padding:0;
    margin:20px 0 0 10px;
	height:32px;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

#app-slide-left{
	width:50%;
	float:left
}

#app-slide-right{
	width:50%;
	background-color:#FFF;
	float:left
}
.app-press-menu a
{
    color: #000000;
    display: block;
    float: left;
    padding: 7px 10px;
    text-decoration: none;
    font-family:"Fjalla One",Arial
}
.app-press-menu a.selected
{
	color:red;
}

.app-press-menu a:hover
{
    color:red;
}


.apploader{
	display:block;
	float:left;
    height: 16px;
    margin: 7px 0 0;
    width: 16px;	
}

.app-press-text{
	padding-top:30px;
    height:230px;

}

.app-press-text h1{
    color:#428bca;
	margin-top:0;
}

/* --------------- Sliding ---------- */
#slideshow  ul li{ 
	width:100%;
	background-image:url(../componentroot/appslide/bg-slide.jpg);
	background-repeat:no-repeat;
	float:left;
	list-style:none;
	color:white;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#pager{
	text-align:right;
}

#pager a{
	width:15px;
	height:5px;
	margin:18px 4px 0px 4px;
	padding:0 5px;	
	outline-style:none;
	outline-width:medium;
	color:#0A92D0;
	background-color:#0A92D0;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#pager .activeSlide{
	background-color:#0834A5;
	color:#0834A5;
	
}

