<!--
/**
 * appRain CMF
 *
 * LICENSE
 *
 * This source file is subject to the MIT license that is bundled
 * with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.opensource.org/licenses/mit-license.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@apprain.com so we can send you a copy immediately.
 *
 * @copyright  Copyright (c) 2010 appRain, Team. (http://www.apprain.com)
 * @license    http://www.opensource.org/licenses/mit-license.php MIT license
 *
 * HELP
 *
 * Official Website
 * http://www.apprain.com/
 *
 * Download Link
 * http://www.apprain.com/download
 *
 * Documents Link
 * http ://www.apprain.com/docs
 */
-->
<SiteSettings>
    <sections>
        <base name="contactussettings">
            <title>Contact Us</title>
            <admin_tab>component</admin_tab>
        </base>
        <groups>
            <group>
                <base name="opts">
                    <title>Settings</title>
                    <acl>
                        <ugroup>superadmin</ugroup>
                    </acl>
                </base>
                <selections>
                    <selection>
                        <title>Menu Title</title>
                        <name>contactussettings_title</name>
                        <default>Contact Us</default>
                        <type>inputTag</type>
                    </selection>
                    <selection>
                        <title>Reply Email Title</title>
                        <hints>Left empty to use Site Administrator Information</hints>
                        <name>contactussettings_replay_email_title</name>
                        <default></default>
                        <type>inputTag</type>
                    </selection>
                    <selection>
                        <title>Reply Email Address</title>
                        <hints>Left empty to use Site Administrator Information</hints>
                        <name>contactussettings_replay_email</name>
                        <default></default>
                        <type>inputTag</type>
                    </selection>
                    <selection>
                        <title>Create Site Menu</title>
                        <name>contactussettings_create_sitemenu</name>
                        <type>selectTag</type>
                        <default>Yes</default>
                        <options>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </options>
                    </selection>
                </selections>
            </group>
        </groups>
    </sections>
</SiteSettings>