<!--
/**
 * appRain CMF
 *
 * LICENSE
 *
 * This source file is subject to the MIT license that is bundled
 * with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.opensource.org/licenses/mit-license.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@apprain.com so we can send you a copy immediately.
 *
 * @copyright  Copyright (c) 2010 appRain, Team. (http://www.apprain.com)
 * @license    http://www.opensource.org/licenses/mit-license.php MIT license
 *
 * HELP
 *
 * Official Website
 * http://www.apprain.com/
 *
 * Download Link
 * http://www.apprain.com/download
 *
 * Documents Link
 * http ://www.apprain.com/docs
 */
-->
<SiteSettings>
    <sections>
        <base name="blogsettings">
            <title>Blog</title>
            <admin_tab>blog</admin_tab>
        </base>
        <groups>
            <group>
                <base name="opts">
                    <title>Settings</title>
                    <acl>
                        <ugroup>superadmin</ugroup>
                    </acl>
                </base>
                <selections>
                    <selection>
                        <title>Home Page Block Title</title>
                        <name>blogsettings_block_title</name>
                        <default>Blog Updates</default>
                        <type>inputTag</type>
                    </selection>
                    <selection>
                        <title>Home Page Block Limit</title>
                        <name>blogsettings_homepage_limit</name>
                        <default>3</default>
                        <type>inputTag</type>
                    </selection>
					<selection>
                        <title>List Per Page</title>
                        <name>blogsettings_list_per_page</name>
                        <default>10</default>
                        <type>inputTag</type>
                    </selection>	
                    <selection>
                        <title>Homepage Updates</title>
                        <name>blogsettings_homepage_updates</name>
                        <type>selectTag</type>
                        <default>Yes</default>
                        <options>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </options>
                    </selection>
                </selections>
            </group>
        </groups>
    </sections>
</SiteSettings>