.feature-products-title{
    margin-left:10px;
    text-transform:uppercase;
}
.homeproducts{
    margin-top:20px;
}

.morelinkgap{
    margin-top:60px;
}

.img-thumbnail{
	width:100%;
}

.add2cart-input
{
    border:1px solid #CCC;
    padding: 10px 2px;
    text-align:center;
    color:#000;
    font-size:10px;
}

.block-title {
    background-color: #A71F0C;
    color: #fff;
    padding: 10px;
	font-size:20px
}

.inlineerror{
    color:#FF0000;
    padding-top:5px;
    display:block;
}

.show{
    display:inline;
}

.appstore-input{
    border:1px solid #CCC;	
}

.product-detail{
    border: 1px solid #CCC;
    border-radius: 1px;
    box-shadow: 2px 2px 0px 0px #EEE;
    width:100%;
}
/*
.product-thumb-img{
        border: 1px solid #DDD;
        border-radius: 1px;
    box-shadow: 2px 2px 1px 1px #EEE;
}
*/
.product-attribute-table td,.product-attribute-table th{
    border:1px solid #DDD;
}

.attributelistbox-title{
    margin-top:10px;
}

.hilight-color{
    color:#99011E;
}
.appstore-divider{
    margin:15px 0px;
}

.appstore-line{
    border-top:1px solid #CCC;
}

.gap{
    margin:20px 0;
    padding:0;
}

.appstorecontent ul{
    padding-left:25px;
}
.appstorecontent ul li{
    list-style: outside disc;
}

.divider{
    border-bottom:1px solid #CCC;
    margin:10px
}

.storeslideshow{
    margin:10px 0 20px 10px;
}

.storeslideshow img {  
    margin-bottom: 15px;  
    background-color: #eee;  

} 

.l-list-1
{
    margin:0;
    padding:0;
    width:200px;
    float:left;
}


.inner-left
{
    width:739px;
    float:left;
}

.l-list-1 li
{
    padding:5px 0;
   /* border-bottom:1px solid #CCC;*/
}

.l-list-1 li a {
    font-weight:bold;
    text-decoration:none;
}

.l-list-1 li a:hover{
    color:#9A011F;
    text-decoration:underline;
}

.grid-list
{
    width:99%;
    padding:0;
}

.grid-list .prod-cell
{
    margin:auto;
    display:block;
    float:left;
    width:33%;
	height:460px;
    padding:10px 5px 15px 5px;
    margin: 0px;
    text-align:center;
}

.prod-cell-25
{
	height:400px;
    margin:auto;
    display:block;
    float:left;
    width:24%;

    padding:10px 5px 15px 5px;
    margin: 0px;
    text-align:center;
}
/*
.grid-list  .pborderlb
{
    border-left:1px solid #DDD;
    border-bottom:1px solid #DDD;
}

.grid-list  .pborderbl
{
    border-left:1px solid #DDD;
}

.grid-list  .pborderb
{
    border-bottom:1px solid #DDD;
}
*/
.product-price{
    color:#FF0000;
}

.add2cartwrapper
{
    margin:auto;
    width:160px;
}


.grid-list li p
{
    margin:0;
    padding:0;
}


.grid-list li h3
{
    font-size:12px;
    font-weight:bold;
    margin: 5px 0 5px 0;
}

.cart-error-bg{
    background: none repeat scroll 0 0 red;
}
.cart-success-bg{
    background: none repeat scroll 0 0 #4E7D0E;
}

.cart-msg
{
    color: white;
    display: block;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2000;
    padding:10px;
    margin:0;
}

.hide
{
    visibility:hidden;
}

.visible
{
    visibility:visible;
}

.cart-display
{
    display:block;
    margin:10px 30px 0 30px;
}


.payment_method_add
{
    display:none;
    margin:5px;
    padding:5px;
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    margin: 5px 20px;
    padding: 10px;	
}

.appstore-input{
    width:99%;
}

.store-title{
    background-color: #777777;
    color: #FFFFFF;
    padding: 10px;
}

.store-form ul {
    margin:0;
    padding:0;
}

.store-form ul li {
    display:block;
    clear:both;
    padding:15px;
}

.store-form ul li label{
    width:30%;
    display:block;
    float:left;

}

.store-form ul li span{
    display:block;
    float:left;
    width: 70%;
}

.store-form ul li span  input{
    width:90%;
}

.store-form ul li span select, .store-form ul li span  input{
    padding:2px 10px;
    font-size:12px;
    border:1px solid #999;	
}
#checkout-summary{
    background-color:#1DB1E2;
    color:#FFF;
}
.checkout-order-summary{
    padding:10px;
    float:left;
}

.checkout-order-summary li {
    padding:2px;
    float:left;
    list-style:none;
}

.checkout-order-summary li label{
    display:block;
    float:left;
    width:180px;
    text-align:right;
    margin-right:10px;
}

.checkout-order-summary li span{
    padding:2px 5px;
    display:block;
    float:left;
    width:100px;
    font-weight:bold;
    text-align:left;
    background-color:#7BD5F2;
}

.grendtotal{
    background-color:#FFFF66;
    font-weight:bold;
    font-size:14px;
    color:#215709;
}

.paymentmessage
{
    color:red;
}
.attribute-table{
    margin:0;
    padding:0;
}

.attribute-table li {
    clear:both;
    list-style:none;

}
.attribute-table li label{
    float:left;
    display:block;
    color:#FFF;
    background-color:#5a5a5a;
    width:30%;
    padding:5px;
    border: 1px solid #E5E5E5;
}

.attribute-table li span{
    float:left;
    display:block; 
    padding:5px;
    border-bottom: 1px solid #E5E5E5;
    width:60%;
}

.message-attribute{
    font-weight:bold;
    height:20px
}
.success-attribute{
    color:green;

}

.error-attribute{
    color:red;
}

.attrsugpaging{
    border-top:1px solid red;
    margin:10px;
    padding-top:5px;
}
.attrsugpaging a {
    color:#FFF;
}

#suggession h3 {
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    padding: 7px;
    text-align: center;
}
.attrsugpaging{
    text-align:cneter;
}
.attrsuspagelink{
    background: none repeat scroll 0 0 red;
    border: 1px solid;
    color: window;
    display: block;
    float: left;
    font-weight: bold;
    margin: 3px;
    padding: 3px 8px;
    text-align: center;
    width: 21px;
}
#suggession {
    background-color: white;
    border: 6px solid #000;
    display: none;
    float: left;
    padding: 0 0 10px 0;
    position: absolute;
    width: 450px;
    z-index:1000;
}

#suggessionbodyscroller{
    overflow:hidden;
    width: 430px;
    margin:10px;
}

.attributelblblock {
    border:1px solid #BBB;
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor:pointer;
    background-color:#EEE;
    /*height:20px;*/
}		
.colorbox{
    width:25px;
    height:25px;
    border:1px solid #EEE;
    display:inline
}

.attributelblblock{
    border: 2px solid #000;
}

.attributelblblock:hover{
    border: 2px solid #C5340D;
}
.checkedattribute{
    background: url(selected.png) no-repeat scroll right bottom transparent;
    border: 2px solid #C5340D;
}

.attr-suggessionbox li{
    border-bottom: 1px solid #EEEEEE;
    display: block;
    float: left;
    margin: 2px;
    padding: 2px;
    width: 100%;
}
.attr-suggessionbox li span,.attr-suggessionbox li label{
    display:block;
    float:left;
    padding:5px;
    margin:5px;
}

.attr-suggessionbox li span{
    width:80px;
}

.attr-suggessionbox li label{
    border:0.17em solid #45a5c5;
    background-color:#5fc8ea;
    color:#FFFFFF;
}

.comment-short-info{
    border-bottom:1px solid #DDD;
    margin-bottom:10px;
    padding-bottom:10px;
}

.comment-short-info, .comment-short-info a{
    color: #999
}

.add2singleproduct{
    padding-top:20px;
}

.line-through{
    text-decoration:line-through
}

.bold{
    font-weight:bold;
}

.storewidteg{
    margin-top:15px;
}

.storeslideshow {
    margin:auto;
}

#personalizeddataform
{
    margin-bottom:40px;
}

.pagination *{
    display:inline;
    padding:0 1px;
}
.checkoutqtybox{
    border: 1px solid #999;
    width:50px;
    height:25px;
    padding:2px;
    font-size:12px;
    text-align: center;
}

/* -----------------------------------------------------------
        Data Grid
----------------------------------------------------------- */
.is-mendatory{
    color:#FF0000;
    width:15px;
}

.form-grid th,.form-grid td{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

.form-grid td,.data-grid td{
    vertical-align:middle;

}

.form-grid th{
    vertical-align:left;
    font-weight:normal;
    width:20%;
}

.data-grid thead th {
    background: none repeat scroll 0 0 #666;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}

.data-grid tfoot th {
    background: none repeat scroll 0 0 #777;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}



.data-grid th{
    padding: 10px;
    background: #eeeeee;
}

.data-grid td{		
    padding: 10px;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

.data-grid td.first{
    border-left: 1px solid #cdcdcd;
}


.form-grid td input{
    width:99%;
    border: 1px solid #cdcdcd;
    padding:2px 0px 2px 2px;
    font-size:90%;
}
