.app-tab .app-tab-head {
    margin: 0;
    padding: 5px;

}

.app-tab .app-tab-head li.tab {
    display: block;
    float: left;
    clear: none;
    
	padding: 5px 10px;
	background: #eeeeee;
	border-right: 1px solid #cdcdcd;
}

.app-tab-pan li {
    border: 1px solid #bebcb7;
    padding: 10px;
}

.app-tab-pan li table{
	display:block;
	clear:both;
}

.app-tab .app-tab-head li.tab a {
    display: block;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    padding: 2px 5px;
    background-color: transparent;
}

.app-tab .app-tab-head li.tab-selected a {
    text-decoration: underline;
    color: #000;	
}

.app-tab  li h2{
	background-color: #000000;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.samebillingshipping {
    background-color: green;
    border: 1px solid green;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    padding: 5px;
}


